Flask==2.3.3
flask-cors==4.0.0
flask-sqlalchemy==3.1.1
werkzeug==2.3.7
flask-socketio==5.3.4
python-socketio==5.10.0
eventlet==0.33.3
Flask-Limiter==3.8.0
Flask-WTF==1.2.1
bleach==6.2.0
python-dotenv==1.0.1
Pillow==10.4.0
python-magic==0.4.27
psycopg2-binary==2.9.9
gunicorn==21.2.0
